---
import { cursosCache, usuariosCache, fetchCursosYUsuarios } from '../../lib/firebase';
import PurchasedCourses from '../../components/PurchasedCourses.jsx';
import HomePage from '../../components/HomePage';
import Footer from '../../components/Footer.astro';

// Obtener parámetros de la URL (si se quiere usar en el futuro)
const url = new URL(Astro.request.url);
const misCursos = url.searchParams.get('misCursos') === 'true';

console.log("URL actual:", Astro.request.url);

// Si cursosCache está vacío, obtenemos los datos de Firebase
if (cursosCache.length === 0) {
  console.log("Recuperando cursos desde Firebase...");
  await fetchCursosYUsuarios();
}

console.log("Cursos disponibles en cache:", cursosCache.length);
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>Mis Cursos Comprados</title>
  </head>
  <body class="overflow-auto">
    <main class="relative min-h-screen bg-cover bg-center bg-fixed bg-black">
      <HomePage client:load cursos={cursosCache} usuarios={usuariosCache} showHero={false} />
      
      <section class="w-full max-w-6xl mx-auto mt-10 px-4 my-56">
        <PurchasedCourses client:load cursos={cursosCache} />
      </section>

      <Footer />
    </main>
  </body>
</html>
